{% extends 'core/index.html' %} {% block content %}
<div class="container mt-5">
    <h2 class="fw-bold mb-4">Менің жүктеген файлдарым</h2>
    <div class="row">
        {% for file in user_files %}
        <div class="col-md-6 mb-3">
            <div class="card p-3 shadow-sm">
                <h5>{{ file.title }}</h5>
                <p class="text-muted small">{{ file.created_at }}</p>
                <audio controls class="w-100">
                    <source src="{{ file.audio_file.url }}" type="audio/mpeg">
                </audio>
            </div>
        </div>
        {% empty %}
        <p>Сізде әлі жүктелген файлдар жоқ.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}